In [2]:
import pandas as pd
import numpy as np

In [3]:
methods = ['linear', 
           'reg_tree', 
           'rand_for', 
           'catboost', 
           'xgboost']
metrics = ['score', 
           'mse',
           'mape']

index = pd.Index(methods, name = 'method')
columns = pd.Index(metrics, name = 'metric')

In [4]:
read_2D_hysteresis = pd.DataFrame(index = index, 
                                  columns = columns)

read_2D_hysteresis.loc['linear'] = pd.read_csv("/mnt/c/prog/IniciacaoCientifica/results/2D/hysteresis/results_lin_reg.csv").iloc[0]
read_2D_hysteresis.loc['reg_tree'] = pd.read_csv("/mnt/c/prog/IniciacaoCientifica/results/2D/hysteresis/results_reg_tree.csv").iloc[0]
read_2D_hysteresis.loc['rand_for'] = pd.read_csv("/mnt/c/prog/IniciacaoCientifica/results/2D/hysteresis/results_rand_for.csv").iloc[0]
read_2D_hysteresis.loc['catboost'] = pd.read_csv("/mnt/c/prog/IniciacaoCientifica/results/2D/hysteresis/results_catboost.csv").iloc[0]
read_2D_hysteresis.loc['xgboost'] = pd.read_csv("/mnt/c/prog/IniciacaoCientifica/results/2D/hysteresis/results_xgboost.csv").iloc[0]

In [5]:
read_2D_joule = pd.DataFrame(index = index, 
                             columns = columns)

read_2D_joule.loc['linear'] = pd.read_csv("/mnt/c/prog/IniciacaoCientifica/results/2D/joule/results_lin_reg.csv").iloc[0]
read_2D_joule.loc['reg_tree'] = pd.read_csv("/mnt/c/prog/IniciacaoCientifica/results/2D/joule/results_reg_tree.csv").iloc[0]
read_2D_joule.loc['rand_for'] = pd.read_csv("/mnt/c/prog/IniciacaoCientifica/results/2D/joule/results_rand_for.csv").iloc[0]
read_2D_joule.loc['catboost'] = pd.read_csv("/mnt/c/prog/IniciacaoCientifica/results/2D/joule/results_catboost.csv").iloc[0]
read_2D_joule.loc['xgboost'] = pd.read_csv("/mnt/c/prog/IniciacaoCientifica/results/2D/joule/results_xgboost.csv").iloc[0]

In [6]:
read_Nabla_hysteresis = pd.DataFrame(index = index, 
                                     columns = columns)

read_Nabla_hysteresis.loc['linear'] = pd.read_csv("/mnt/c/prog/IniciacaoCientifica/results/Nabla/hysteresis/results_lin_reg.csv").iloc[0]
read_Nabla_hysteresis.loc['reg_tree'] = pd.read_csv("/mnt/c/prog/IniciacaoCientifica/results/Nabla/hysteresis/results_reg_tree.csv").iloc[0]
read_Nabla_hysteresis.loc['rand_for'] = pd.read_csv("/mnt/c/prog/IniciacaoCientifica/results/Nabla/hysteresis/results_rand_for.csv").iloc[0]
read_Nabla_hysteresis.loc['catboost'] = pd.read_csv("/mnt/c/prog/IniciacaoCientifica/results/Nabla/hysteresis/results_catboost.csv").iloc[0]
read_Nabla_hysteresis.loc['xgboost'] = pd.read_csv("/mnt/c/prog/IniciacaoCientifica/results/Nabla/hysteresis/results_xgboost.csv").iloc[0]

In [7]:
read_Nabla_hysteresis = pd.DataFrame(index = index, 
                                     columns = columns)

read_Nabla_hysteresis.loc['linear'] = pd.read_csv("/mnt/c/prog/IniciacaoCientifica/results/Nabla/hysteresis/results_lin_reg.csv").iloc[0]
read_Nabla_hysteresis.loc['reg_tree'] = pd.read_csv("/mnt/c/prog/IniciacaoCientifica/results/Nabla/hysteresis/results_reg_tree.csv").iloc[0]
read_Nabla_hysteresis.loc['rand_for'] = pd.read_csv("/mnt/c/prog/IniciacaoCientifica/results/Nabla/hysteresis/results_rand_for.csv").iloc[0]
read_Nabla_hysteresis.loc['catboost'] = pd.read_csv("/mnt/c/prog/IniciacaoCientifica/results/Nabla/hysteresis/results_catboost.csv").iloc[0]
read_Nabla_hysteresis.loc['xgboost'] = pd.read_csv("/mnt/c/prog/IniciacaoCientifica/results/Nabla/hysteresis/results_xgboost.csv").iloc[0]

In [8]:
read_Nabla_joule = pd.DataFrame(index = index, 
                                columns = columns)

read_Nabla_joule.loc['linear'] = pd.read_csv("/mnt/c/prog/IniciacaoCientifica/results/Nabla/joule/results_lin_reg.csv").iloc[0]
read_Nabla_joule.loc['reg_tree'] = pd.read_csv("/mnt/c/prog/IniciacaoCientifica/results/Nabla/joule/results_reg_tree.csv").iloc[0]
read_Nabla_joule.loc['rand_for'] = pd.read_csv("/mnt/c/prog/IniciacaoCientifica/results/Nabla/joule/results_rand_for.csv").iloc[0]
read_Nabla_joule.loc['catboost'] = pd.read_csv("/mnt/c/prog/IniciacaoCientifica/results/Nabla/joule/results_catboost.csv").iloc[0]
read_Nabla_joule.loc['xgboost'] = pd.read_csv("/mnt/c/prog/IniciacaoCientifica/results/Nabla/joule/results_xgboost.csv").iloc[0]

In [9]:
read_V_hysteresis = pd.DataFrame(index = index, 
                                 columns = columns)

read_V_hysteresis.loc['linear'] = pd.read_csv("/mnt/c/prog/IniciacaoCientifica/results/V/hysteresis/results_lin_reg.csv").iloc[0]
read_V_hysteresis.loc['reg_tree'] = pd.read_csv("/mnt/c/prog/IniciacaoCientifica/results/V/hysteresis/results_reg_tree.csv").iloc[0]
read_V_hysteresis.loc['rand_for'] = pd.read_csv("/mnt/c/prog/IniciacaoCientifica/results/V/hysteresis/results_rand_for.csv").iloc[0]
read_V_hysteresis.loc['catboost'] = pd.read_csv("/mnt/c/prog/IniciacaoCientifica/results/V/hysteresis/results_catboost.csv").iloc[0]
read_V_hysteresis.loc['xgboost'] = pd.read_csv("/mnt/c/prog/IniciacaoCientifica/results/V/hysteresis/results_xgboost.csv").iloc[0]

In [10]:
read_V_joule = pd.DataFrame(index = index, 
                            columns = columns)

read_V_joule.loc['linear'] = pd.read_csv("/mnt/c/prog/IniciacaoCientifica/results/V/joule/results_lin_reg.csv").iloc[0]
read_V_joule.loc['reg_tree'] = pd.read_csv("/mnt/c/prog/IniciacaoCientifica/results/V/joule/results_reg_tree.csv").iloc[0]
read_V_joule.loc['rand_for'] = pd.read_csv("/mnt/c/prog/IniciacaoCientifica/results/V/joule/results_rand_for.csv").iloc[0]
read_V_joule.loc['catboost'] = pd.read_csv("/mnt/c/prog/IniciacaoCientifica/results/V/joule/results_catboost.csv").iloc[0]
read_V_joule.loc['xgboost'] = pd.read_csv("/mnt/c/prog/IniciacaoCientifica/results/V/joule/results_xgboost.csv").iloc[0]

In [11]:
variables = ['hysteresis',
             'joule']
motors = ['D2',
          'Nabla',
          'V']

newcolumns = pd.Index(motors, name = 'motor')
newindex = pd.Index(methods, name = 'method')

In [12]:
score_data_hysteresis = pd.DataFrame(columns = newcolumns, index = newindex)

score_data_hysteresis.D2 = read_2D_hysteresis.score
score_data_hysteresis.Nabla = read_Nabla_hysteresis.score
score_data_hysteresis.V = read_V_hysteresis.score

score_data_hysteresis

motor           D2     Nabla         V
method
linear    0.877371  0.885856  0.898586
reg_tree  0.969112  0.970236  0.972356
rand_for  0.978109  0.988997  0.989882
catboost  0.982187  0.995904  0.998258
xgboost   0.980641  0.992065  0.995228

In [13]:
score_data_joule = pd.DataFrame(columns = newcolumns, index = newindex)

score_data_joule.D2 = read_2D_joule.score
score_data_joule.Nabla = read_Nabla_joule.score
score_data_joule.V = read_V_joule.score

score_data_joule

motor           D2     Nabla         V
method
linear    0.725346  0.851045  0.867551
reg_tree  0.822426  0.951621  0.972245
rand_for  0.831141  0.981698  0.989422
catboost  0.834822  0.991773  0.997135
xgboost   0.833086  0.985918  0.993864

In [14]:
mse_data_hysteresis = pd.DataFrame(columns = newcolumns, index = newindex)

mse_data_hysteresis.D2 = read_2D_hysteresis.mse
mse_data_hysteresis.Nabla = read_Nabla_hysteresis.mse
mse_data_hysteresis.V = read_V_hysteresis.mse

mse_data_hysteresis

motor           D2     Nabla         V
method
linear    0.125016  0.111261  0.103019
reg_tree  0.031489  0.029012  0.028081
rand_for  0.022318  0.010725  0.010278
catboost  0.018159  0.003992   0.00177
xgboost   0.019735  0.007735  0.004847

In [15]:
mse_data_joule = pd.DataFrame(columns = newcolumns, index = newindex)

mse_data_joule.D2 = read_2D_joule.mse
mse_data_joule.Nabla = read_Nabla_joule.mse
mse_data_joule.V = read_V_joule.mse

mse_data_joule

motor           D2     Nabla         V
method
linear    0.316331  0.145358  0.134683
reg_tree   0.20452   0.04721  0.028223
rand_for  0.194482   0.01786  0.010756
catboost  0.190243  0.008028  0.002913
xgboost   0.192242  0.013741  0.006239

In [16]:
mape_data_hysteresis = pd.DataFrame(columns = newcolumns, index = newindex)

mape_data_hysteresis.D2 = read_2D_hysteresis.mape
mape_data_hysteresis.Nabla = read_Nabla_hysteresis.mape
mape_data_hysteresis.V = read_V_hysteresis.mape

mape_data_hysteresis

motor           D2     Nabla         V
method
linear    0.914328  4.135917  1.468986
reg_tree  0.549346   2.19469  0.687815
rand_for  0.315941  0.571856   0.57334
catboost  0.120402  0.828559    0.1907
xgboost   0.191011   0.73543  0.428569

In [17]:
mape_data_joule = pd.DataFrame(columns = newcolumns, index = newindex)

mape_data_joule.D2 = read_2D_joule.mape
mape_data_joule.Nabla = read_Nabla_joule.mape
mape_data_joule.V = read_V_joule.mape

mape_data_joule

motor           D2     Nabla         V
method
linear     1.71494  1.901598  1.692969
reg_tree  0.439176  0.954882  0.905085
rand_for  0.312343   0.50522  0.535394
catboost  0.192682  0.260392  0.318281
xgboost   0.247595  0.424453  0.448335