In [3]:
import pandas as pd
import numpy as np
import datetime

In [24]:
neurons = [5, 10, 15, 20, 25, 30]
layers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
learning_rates = [0.9, 0.5, 0.1, 0.05, 0.01]
epochs = 500

columns = ['neurons', 'layers', 'learn_rate', 'epochs', 'score', 'mse', 'mape', 'time']
contents = [neurons[0], layers[0], learning_rates[0], epochs, 10, 20, 30, datetime.datetime.now()]

data = pd.DataFrame(columns = columns)
data

Empty DataFrame
Columns: [neurons, layers, learn_rate, epochs, score, mse, mape, time]
Index: []

In [35]:
new_row = pd.DataFrame([contents], columns = data.columns)
data = pd.concat([data, new_row])
data

  neurons layers  learn_rate epochs score mse mape                       time
0       5      1         0.9    500    10  20   30 2025-10-29 18:40:46.332795
0       5      1         0.9    500    10  20   30 2025-10-29 18:40:46.332795
0       5      1         0.9    500    10  20   30 2025-10-29 18:40:46.332795
0       5      1         0.9    500    10  20   30 2025-10-29 18:40:46.332795
0       5      1         0.9    500    10  20   30 2025-10-29 18:40:46.332795
0       5      1         0.9    500    10  20   30 2025-10-29 18:40:46.332795
0       5      1         0.9    500    10  20   30 2025-10-29 18:40:46.332795
0       5      1         0.9    500    10  20   30 2025-10-29 18:40:46.332795
0       5      1         0.9    500    10  20   30 2025-10-29 18:40:46.332795
0       5      1         0.9    500    10  20   30 2025-10-29 18:40:46.332795
0       5      1         0.9    500    10  20   30 2025-10-29 18:40:46.332795

In [2]:
import numpy as np
import pandas as pd
import math
import matplotlib.pyplot as plt

In [3]:
# data loading

PATH = "../../dataset/2D/"
TRAIN_FILE = "_all_scaled_train.csv"
TEST_FILE = "_all_scaled_train.csv"



train_data = pd.DataFrame()

train_data = pd.concat([train_data, pd.read_csv(f'{PATH}idiq{TRAIN_FILE}').drop(columns = "Unnamed: 0")], axis = 1)
train_data['speed'] = pd.read_csv(f'{PATH}speed{TRAIN_FILE}')['N']
train_data = pd.concat([train_data, pd.read_csv(f'{PATH}xgeom{TRAIN_FILE}').drop(columns = "Unnamed: 0")], axis = 1)

train_data['hysteresis'] = pd.read_csv(f'{PATH}hysteresis{TRAIN_FILE}')['total']
train_data['joule'] = pd.read_csv(f'{PATH}joule{TRAIN_FILE}')['total']


test_data = pd.DataFrame()

test_data = pd.concat([test_data, pd.read_csv(f'{PATH}idiq{TEST_FILE}').drop(columns = "Unnamed: 0")], axis = 1)

test_data['speed'] = pd.read_csv(f'{PATH}speed{TEST_FILE}')['N']
test_data = pd.concat([test_data, pd.read_csv(f'{PATH}xgeom{TEST_FILE}').drop(columns = "Unnamed: 0")], axis = 1)

test_data['hysteresis'] = pd.read_csv(f'{PATH}hysteresis{TEST_FILE}')['total']
test_data['joule'] = pd.read_csv(f'{PATH}joule{TEST_FILE}')['total']

In [ ]:
whole_data = pd.concat([test_data, train_data], axis = 0)

np.False_

In [47]:
test_data

,id,iq,speed,d1,d2,r1,t1,d3,d4,d5,d6,d7,d8,d9,hysteresis,joule
0,1.556889,-1.531017,-0.997918,0.346456,0.987020,0.943414,-0.851330,0.638764,0.172873,0.090005,-1.314623,-1.400318,-0.094636,0.834509,-1.268996,-1.044791
1,-1.174261,0.428665,1.410011,0.780558,-0.188079,-0.584376,1.112837,0.364822,0.658940,0.516961,1.361034,1.148911,-0.270487,-0.767073,1.761839,1.748902
2,0.884738,-0.573327,0.690065,1.317766,-1.206607,1.051416,0.695661,0.770384,0.248376,-0.191516,-1.054340,-1.104118,-1.732132,0.562828,0.357128,0.195195
3,-0.256207,0.249993,1.000636,1.247821,0.905617,0.865609,-1.348873,1.013753,-0.069999,-0.265931,-0.240555,-0.178300,-1.056309,-0.512234,1.214447,0.983298
4,0.796783,-0.349676,-1.705107,-1.487840,-0.286275,0.825303,1.556673,-1.168451,-1.619039,-1.317493,-0.443329,-0.267579,0.234624,-0.098630,-1.404755,-1.105048
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24155,-1.078905,-1.480111,1.316616,0.565378,-0.846955,-0.313962,1.441023,0.530311,0.388063,0.032210,-0.820601,-0.846487,-1.037934,1.387992,0.966397,2.134983
24156,-0.367993,-1.020365,0.490406,-0.961245,-1.504732,1.243364,1.685500,-0.987013,-0.914539,-0.380240,0.173218,0.117189,1.786607,0.329126,-0.342029,0.075030
24157,0.020707,0.200867,0.448953,-1.063596,-0.093133,0.845646,-1.077896,-1.460077,-0.308198,-0.068034,-0.413955,-0.071457,0.930531,0.507248,0.444289,0.104741
24158,0.196440,1.428534,-0.846625,-1.662109,-1.872512,1.175411,1.675801,-0.992911,-0.140821,0.323832,1.124938,0.738683,1.189400,-1.618588,-0.417063,-0.743524
24159,1.249621,-0.515634,0.566933,0.855693,0.019429,-0.008609,-1.451037,1.173802,0.324627,0.590375,-1.062926,-1.051961,1.016579,0.151692,0.170990,-0.068798